.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all Excel files in all directories
**/*.xlsx

# Ignore all CSV files in all directories
**/*.csv

# Ignore all text files in all directories
**/*.txt

# === EXCEPTIONS (files to include in Git) ===
!data/input/patch/patch_units.csv
!data/input/patch/priority_grn_codes.xlsx
!data/input/log_decisions/log_decisions.xlsx